/************
1. Header
2. Main
3. Footer
*/

html{
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

ul li{
	list-style: none;
	display: inline-block;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	
	max-width: 1024px;
	margin: auto;
	background-color: white;
	position: relative;
	font-family: sans-serif;
}


/*HEADER*/

header {
	height: 90px;
	background-color: white;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1;
	border-bottom: 1px solid #DBDBDF;
}

header img{
	width: 300px;
}

header input[type=text]{
	text-align: center;
}

#logo {
	float: left;
	width: 40%;
}

#search {
	float: left;
	height: 50px;
	width: 30%;
	vertical-align: middle;
    margin-top: 3%;
}

.searchInput {
	font-family: "FontAwesome";
	width: 200px;
    height: 30px;
    font-size: 14px;
}

#menu {
	float: right;
	width: 15%;
	margin-top: 2%; 
}

#menu ul li{
	padding: 5%;
}

.fa-compass, .fa-heart-o, .fa-user-o{
	color: black;
}

/*MAIN*/

main {
	clear: both;
}

#banner-image {
	width: 100%;
}

#following {
	background-color: green;
	text-align: center;
	padding: 7px 0 7px 0;
	border-radius: 5px;
}

#following a {
	color: white;
}

#profile {
	float: left;
	border: 5px solid white;
}

#profile-row {
	margin: 0 25px 0 25px;
	top: 250px;
	width: 90%;
	position: absolute;	
}

#profile-image, #following {
	width: 180px;
	
}

#profile-name {
	float: left;
	padding-left: 20px;
}
#profile-info {
	padding-top: 100px;

}

#profile-btn-group {
	background-color: #E9EFF1;
	float: right;
	border-radius: 10px;
	padding: 5px;
}

#profile-btn-group ul li {
	padding: 10px;
	border-right: 1px solid black;
}

#profile-btn-group ul li:last-child {
	border-right: none;
}

#content-section {
	clear: both;
	background-color: #EBF3F6;
	padding: 0 0 25px 8px;
	margin-top: 180px;
}

#photos-row img {
	width: 170px;
	margin: 25px 0 0 15px;
	border: 5px solid white;
}



/*FOOTER*/

footer{
	padding: 50px 5px 50px 5px;
}

#footer-links ul li{
	padding-right: 10px;
	font-weight: bold;
}

#footer-links, #copyright {
	font-size: 12px;
	color: #1B1080;
}

#footer-links {
	float: left;
	margin: 0px;
}

#copyright {
	float: right;
	font-weight: bold;
	color: #C3C3C8;
}