@import url('https://fonts.googleapis.com/css?family=Cookie');

/************
1. Header
2. Main
3. Footer
*/

html{
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

ul li{
	list-style: none;
	display: inline-block;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	
	max-width: 1024px;
	margin: auto;
	background-color: white;
	position: relative;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/*HEADER*/

header {
	height: 90px;
	background-color: white;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1000;
	border-bottom: 1px solid #DBDBDF;
}

header img{
	width: 300px;
}

header input[type=text]{
	text-align: center;
}

#logo {
	float: left;
	width: 40%;
	margin-top: 2%;
}

.logo-name {
	font-family: 'Cookie', cursive;
	font-size: 50px;
	float: left;
	padding-left: 5%;
}

.fa-instagram {
	float: left;
	padding-right: 5%;
	border-right: 1px solid black;
	color: black;
}

#search {
	float: left;
	width: 20%;
	padding: 3px;
	text-align: center;
	margin-top: 2%;
}

.searchInput {
	width: 70%;
    box-sizing: border-box;
    border: 2px solid #6B6B6C;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 6px 6px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search input[type=text]:focus {
	outline: none;
    width: 100%;
}

#menu {
	float: right;
	width: 15%;
	margin-top: 2%; 
}

#menu ul li{
	padding: 5%;
}

.fa-heart-o, .fa-user-o, .fa-comment-o{
	color: black;
	float: right;
}

/*MAIN*/

main {
	clear: both;
}

#banner-image {
	width: 100%;
	z-index: 1;
}

#following {
	background-color: #6CB461;
	text-align: center;
	padding: 7px 0 7px 0;
	border-radius: 5px;
}

#following a {
	color: white;
}

#profile {
	float: left;
	border: 5px solid white;
	margin-left: 3%;
}

#profile-row {
	top: 200px;
	width: 100%;
	position: absolute;	
}

#profile-image, #following {
	width: 180px;
	
}

#name {
	font-size: 15px;
	font-weight: bold;
}

#description{
	font-size: 15px;
}

#profile-name {
	float: left;
	padding-left: 20px;
}

#profile-info {
	padding-top: 100px;
}

#profile-btn-group {
	background-color: #EBECEE;
	float: right;
	border-radius: 10px;
	padding: 5px;
	margin: 3%;
	border: 1px solid #C7C9CB;
	width: 22.5%;
}

#profile-btn-group ul li {
	padding: 3%; 
	border-right: 1px solid #C7C9CB;
}

#profile-btn-group ul li:last-child {
	border-right: none;
}

.number{
	font-weight: bold;
	color: black;
	text-align: center;
	font-size: 14px;
}

.items{
	color: #A3A9AD;
	font-weight: bold;
	font-size: 14px;
}

#loader.show {
	background: url(../images/spinner.gif) no-repeat center center;
	height: 7em;
}

#content-section {
	clear: both;
	background-color: #DEDFE0;
	padding: 0 0 25px 8px;
	margin-top: 15%;
}

#images-array li{
	height: 170px;
	width: 170px;
	margin: 1em;
	overflow: hidden;
}

#photos-row img {
	width: 100%;
	height: 100%;
	border: 5px solid white;
	object-fit: cover;
}



/*FOOTER*/

footer{
	padding: 50px 5px 50px 5px;
}

#footer-links ul li{
	padding-right: 10px;
	font-weight: bold;
}

#footer-links, #copyright {
	font-size: 12px;
	color: #1B1080;
}

#footer-links {
	float: left;
	margin: 0px;
}

#copyright {
	float: right;
	font-weight: bold;
	color: #C3C3C8;
}